.calculatorContainer {
  width: 460px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: #BB1233;
  border: 2px solid gray;
  border-radius: 10px;

  .logoContainer img{
    width: 120px;
    margin: 30px 0 0 30px
  }
  .calculatorDisplay {
    background: #2D2829;
    font-size: 18px;
    color: white;
    width: 90%;
    height: 100px;
    border-radius: 50px;
    margin: 20px auto;
    text-align: right;
    font-size: 55px;
    padding: 8px 13px;
  }

  .calculatorKeys {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    .calculatorKeysLeft {
      display: flex;
      flex-direction: column;
      width: 70%;

      .calculatorSpecials {
        display: flex;
        width: 100%;
        justify-content: center;

        div {
          margin: 7px 12px;
          text-align: center;
          font-size: 25px;
          height: 80px;
          width: 80px;
          background: #2061B0;
          color: white;
          border-radius: 50%;
          box-shadow: -1px 5px #333333;
          font-size: 35px;
          padding: 14px 0;
        }
      }

      .calculatorNumbers {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;

        div {
          margin: 7px 12px;
          text-align: center;
          font-size: 25px;
          height: 80px;
          width: 80px;
          background: #113C78;
          color: white;
          border-radius: 50%;
          box-shadow: -1px 5px #333333;
          font-size: 35px;
          padding: 14px 0;
        }

        :nth-child(10) {
          width: 180px;
          border-radius: 35px;
        }
      }
    }

    .calculatorKeysRight {
      margin-left: -6px;

      .calculatorOperators {
        display: flex;
        flex-direction: column;

        div {
          margin: 7px 12px;
          text-align: center;
          font-size: 25px;
          height: 80px;
          width: 80px;
          background: #3DB5E5;
          color: white;
          border-radius: 50%;
          box-shadow: -1px 5px #333333;
          font-size: 35px;
          padding: 14px 0;
        }
      }
    }
  }
}